* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive,monospace, Arial, Helvetica, sans-serif;
}
body {overflow-x: hidden}
.reservation {
    padding: 15px 30px;
    background: #f9ad81;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #f9ad81;
    transition: all .4s;
    outline: none;
}
.reservation:hover {
    color: #f9ad81;
    background: transparent;
}
.text-main-color {color: #999}
dl, ol, ul {
    margin-bottom: 0;
    margin-top: 10px;
}
/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7)
} */

body {position: relative;}

/* header */
header .sticky {
    position: fixed;
    width: 100%;
    z-index: 100;
}
header nav .logo {
    padding-top: 13px;
}
header nav {
    overflow: hidden;
}
header  nav ul li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}
header  .navbar-nav ul li.active:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #f9ad81;
    color: #f9ad81;
    top: 35px;
    left: 27px;
    border-radius: 50%;
}
header  nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
}
header  .navbar-nav ul li.active a,
header .navbar-nav ul li a:hover {color: #f9ad81 !important}

@media (max-width: 991px) {
    header  nav ul li { 
        display: block;
    }
    header  .navbar-nav ul li.active:before {
        content: '';
        left: 19px;
    }
}
@media (min-width: 991px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}


.banner {
    background: url('../images/banner.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
}

.banner h2 {
    color: #fff;
}
@media(min-width: 769px) {
    .banner h2 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    .banner .reserve {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media(min-width: 992px) {
    .banner h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner .reserve {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    }.services .serviceBox .serviceIcon {top: 186px}
}
.banner .reserve {
    background: rgba(0, 0, 0, .5);
    padding: 15px 65px;
}
.banner .reserve .inputBox {
    border-radius: 10px;
    background: #fff !important;
}

.banner .reserve .inputBox input {
    border: none !important;
    outline: none !important;
}
@media(max-width: 576px) {
    .banner .reserve .inputBox {
        margin-left: 0 !important;
    }
}
/* End Header */

/* About Sectoin */
.about {
    margin: 80px auto;
}
.about .container {
    border: 10px solid #f9ad81;
    padding: 50px;
    overflow: hidden;
}
.about .container > p {letter-spacing: 2px;}
.about .container h3 {font-size: 30px; margin: 10px 0 30px;}
@media(max-width: 992px) {
    .about .container h3 {width: 100% !important}
}
.about .desc {
    color: #999;
}
.about .desc:first-of-type {margin-right: 3%;}
.about  button {
    margin-top: 20px;
}
/* End about section */

/* Start info section */
.info .container-fluid .row  {overflow: hidden; height: 700px;}
.info .container-fluid .row  > div {
    background-size: cover;
    color: #f2f2f2;
    position: relative;
}
.info h3 {font-size: 40px; font-weight: normal;}
.info .first {
    background: url('../images/info01.jpg') no-repeat center;
}
.info .second {
    background: url('../images/info01.jpg') no-repeat top;
    background-position: 100%;
}
.info .topInfo {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}
.info .buttomInfo {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 768px) {
    .info .buttomInfo {
        bottom: 10%;
    }
}
.info .buttomInfo ul {margin-bottom: 20px; width: 370px;}
.info .buttomInfo ul li {display: inline-block; margin-right: 17px;}
/* End info section */

/* Start Guestbook */
.guestbook {
    padding: 50px 0;
    color: #999;
}
.guestbook .person .info span {color: #f9ad81}
/* End Guestbook */

/* Start Video Description */
.video_description {
    position: relative;
    
    margin-bottom: 450px;
}
.video_description img {
    width: 100%;
}
.video_description iframe {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 80%;
    height: 500px;
    transform: translateX(-50%)
}
/* End Video Description */

/* Start customers love */
.customerslove {
    margin: 80px 0;
}
.customerslove  q {
    font-size: 50px;
    font-weight: 600;
    margin-top: 40px;
}
.customerslove p {
    margin: 50px 0;
    color: #999;
    line-height: 1.8;
}
.customerslove img {
    /* width: 242px;
    height: 242px; */
    width: calc(86%/2);
    display: inline-block;
    margin: 10px;
}
.customerslove span {color: #666; letter-spacing: 3px;}
.customerslove p.hed {margin-top: -7px;font-size: 45px; color:#333;}
/* End customers love */

/* Footer */
footer {
    background: #333;
    padding: 60px 0;
}
footer p {
    color: #ccc;
    line-height: 1.9;
    margin: 30px 0;
}
footer p i {
    color: #f9ad81;
    margin-right: 10px;
}
footer h3 {
    color: #f9ad81;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 60px
}
@media (min-width: 769px) {
    footer form input[type="text"] {
        position: absolute;
    }
    ::placeholder {color: #d2d2d2;}
    footer form input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
    }
}
footer form input[type="text"] {
    background: #676767;
    padding: 15px 0 15px 4px;
    color: #A2A2A2;
    font-size: 17px;
    border: none;
    outline: none
}
::placeholder {color: #d2d2d2;}
footer form input[type="submit"] {
    padding: 15px 30px;
    background: #f9ad81;
    border: none;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 767px) {
    footer {text-align: center}
}

/* End footer */

/* Start Pop up */
/* .popup {
    display: block;
} */
.popup form input,
.popup form textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.popup form textarea {
    height: 150px;
}
/* End Pop up */


/*** About Page ***/
/* description section */
.description {
    background: url(../images/banner.jpg);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin: 80px 0;
    padding: 100px 0;
}
.description .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}
.description .container {text-align: center;}
.description .row > p {
    color: #fff;
    font-size: 28px;
    text-align: center;
    transition: 1s;
}
.description .row > p span {
    color: #f9ad81;
    font-size: 24px;
}
/* End description section */

/* Start Awards Section */
.awards .container {overflow: hidden;}
.awards h3 {font-size: 40px;font-weight: normal;}
.awards .container > div img {
    width: 200px;
    height: 200px;
}
.awards .container > div span{display: block; margin:10px 0 20px;}
.awards .container > div h5 {text-transform: uppercase; margin-bottom: 25px}
.awards .container > div p {color: #999}
/* End awards section */

/* Book your stay */
.bookyourstay {
    background: #f9ad81;
    padding: 50px 0;
}
.bookyourstay .container {overflow: hidden;}
.bookyourstay .container h3 {
    font-size: 40px;
    color: #f2f2f2;
    font-weight: normal;
}
.bookyourstay button {
    background: #333;
    border: 1px solid #333;
}
.bookyourstay button:hover {
    background: transparent;
    color: #333;
}
/* End book your stay */

/*** End About page ***/

/*** Start Services Page ***/
/* \ */
/* Start services section */
.services {
    margin: 150px auto;
}
.services .serviceBox {position: relative;}
.services .serviceBox .serviceIcon {
    position: absolute;
    top: 124px;
    left: 50%;
    background: #f9ad81;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 50%;
}
@media (max-width: 767px) {
    .services .serviceBox .serviceIcon {top: 254px}
}
@media(min-width: 768px) {
    .services .serviceBox .serviceIcon {top: 134px}
}
@media(min-width: 992px) {
    .services .serviceBox .serviceIcon {top: 186px}
}
@media(min-width: 1200px) {
    .services .serviceBox .serviceIcon {top: 234px !important}
}
.services .serviceBox p {
    color: #999;
}
/* End services section */

/* Start Children Activity */
@media(max-width: 576px) {
    .childrenActivity .content-kids {
        margin-top: 40px;
    }
}
/* End Children Activity */


@media(max-width: 576px) {
    footer {
        margin-top: 48px !important;
    }
}
/** End Services Page ***/

/** Start Contact Us Page **/
.contact-form form input[name='name'],
.contact-form form input[name="email"] {
    width: calc(99% / 2)
}
.contact-form form input,
.contact-form form textarea {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    outline: none;
}
.contact-form form .inputBox,
.contact-form form .textareaBox {
    position: relative;
}
.contact-form form .inputBox input,
.contact-form form .textareaBox textarea {
    position: relative;
    z-index: 2;
    background: transparent;
}
.contact-form form .inputBox label,
.contact-form form .textareaBox label{
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 1;
    color: #888;
    transition: .4s
}
.contact-form form .inputBox input[name="subject"] +  label { top: -9px}
.contact-form form .textareaBox label {
    top: 167px;
}
.contact-form form .inputBox input:focus + label,
.contact-form form .textareaBox textarea:focus ~ label {
    color: #f9ad81;
    top: -28px;
    left: 0;
    transition: .4s
}
.contact-form form .inputBox.place-effect label,
.contact-form form .textareaBox.place-effect label {
    color: #f9ad81;
    top: -28px;
    left: 0;
    transition: .4s
}
.contact-form form .textareaBox label{
    transition: .8s;
}
.contact-form form .textareaBox textarea:focus ~ label {
    transition: .6s;
}
.contact-form form textarea {
    height: 200px;
}

/* ----------------- */
@media (max-width: 767px) {
    .contact-form {text-align: center;}
    .contact-form .reservation {margin: 20px 0;}
    .contact-form .inputBox,
    .contact-form .textareaBox {width: 50%; margin: auto;}
}

.contact-form .info {
    background: #f6f9fb;
    padding: 20px 40px;
    color: #444;
}
.contact-form .info .social-media i {
    font-size: 28px;
    cursor: pointer;
    color: #999;
    transition: .8s;
}
.contact-form .info .social-media i:hover {
    transform: scale(1.5) translateY(-15px);
}
.contact-form .info .social-media i.fa-facebook:hover {color: #3b5998}
.contact-form .info .social-media i.fa-instagram:hover {color: #e95950}
.contact-form .info .social-media i.fa-linkedin:hover {color: #007bb5}
.contact-form .info .social-media i.fa-pinterest:hover {color: #cb2027}
.contact-form .info .social-media i.fa-twitter:hover {color: #55acee}
.contact-form .info .social-media i.fa-youtube:hover {color: #ff0000}

/** End Contact Us Page **/

